<div class="flex">
  <!-- Sección principal -->
  <main class="flex-1 flex items-center justify-center bg-guinda-light">
    <div class="max-w-lg w-full bg-[#330b11] text-white shadow-lg rounded-lg p-10">
      <!-- Página de bienvenida --> 
        <!-- Fondo guinda oscuro para el texto -->
        <div class="text-center">
          <br>
          <br>
          <h1 class="text-3xl font-bold mb-4">¡Bienvenido a nuestra plataforma!</h1>
          <br>
          <img src="/images/logo.png" alt="Imagen bienvenida" class="mx-auto mb-4">
          <br>

          <p class="text-lg">
            Aquí puedes explorar todas nuestras funcionalidades para registrar estaciones,canales,programas y horarios. Usa el menú lateral para navegar.
          </p>

          
        </a>
      </div>
    </div>
  </main>
</div>