<nav class="fixed z-30 w-full border-b border-white-200 dark:bg-white-800 dark:border-gray-700" style="background-color: #580714;">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar" class="p-2 text-black rounded cursor-pointer lg:hidden hover:text-white hover:bg-black focus:bg-black dark:focus:bg-white focus:ring-2 focus:ring-black dark:focus:ring-white dark:text-white dark:hover:bg-black dark:hover:text-white">
          <svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          </svg>
          <svg id="toggleSidebarMobileClose" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </button>
        <a href="/" class="flex ml-2">
          <img src="/images/logo.png" style="height: 50px; width: auto;" class="mr-3" alt="FlowBite Logo">
        </a>

        <div class="flex items-center">
          <button id="toggleSidebarMobileSearch" type="button" class="p-2 text-gray-500 rounded-lg lg:hidden hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Search</span>
          </button>
        </div>
      </div>

      <!-- Botón de Cerrar Sesión en el extremo derecho -->
      <div class="ml-auto">
        <a href="/logout" class="px-4 py-2 text-white bg-red-600 rounded hover:bg-red-700 focus:ring-2 focus:ring-red-500 focus:outline-none">
          Cerrar sesión
        </a>
      </div>
    </div>
  </div>
</nav>
